<!doctype html>
    <html lang="en">
        <body>
            <form method="post">
                <h1>Shift Manager</h1>
                <p>Login</p>
                <label>
                    <input type="text"  placeholder="Enter your email address">
                </label>
                <p>Password</p>
                <label>
                    <input type="password" minlength="6" placeholder="Enter your password">
                </label>
                <input type="submit" value="Login">
            </form>

        </body>
    </html>